@mixin primary-text-gradient {
  background: linear-gradient(225deg, $soft-red, $dark-violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin primary-gradient {
  background: linear-gradient(225deg, $soft-red, $dark-violet);
}

@mixin secondary-gradient {
  background: linear-gradient(225deg, #F1F1F5 , #E4ECF7);
}