@font-face {
  font-family: "Avenir";
  src: url("Avenir-Black.eot");
  src: url("Avenir-Black.eot?#iefix") format("embedded-opentype"), url("Avenir-Black.woff2") format("woff2"), url("Avenir-Black.woff") format("woff"), url("Avenir-Black.ttf") format("truetype"), url("Avenir-Black.svg#Avenir-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.bg-cover {
  position: relative;
  z-index: 0;
}
.bg-cover > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #1A202C;
  background-color: #FAFAFA;
}

.pro-regular {
  font-weight: 400;
}

.strong,
.bold,
strong {
  font-weight: 700;
}

.italics,
.italic {
  font-style: italic;
}

.upper,
.uppercase {
  text-transform: uppercase;
}

sup {
  vertical-align: super;
  font-size: 0.65em;
  line-height: 0;
  color: inherit;
}

sub {
  vertical-align: sub;
  font-size: 0.65em;
  line-height: 0;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
.h1 {
  font-weight: 800;
  font-size: 35px;
  line-height: 44px;
}
@media (min-width: 992px) {
  h1,
  .h1 {
    font-size: 45px;
    line-height: 51px;
  }
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 53px;
    line-height: 71px;
  }
}

h2,
.h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
}
@media (min-width: 992px) {
  h2,
  .h2 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 35px;
    line-height: 55px;
  }
}

h3,
.h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
@media (min-width: 992px) {
  h3,
  .h3 {
    font-size: 28px;
    line-height: 38px;
  }
}

h4,
.h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

.btn {
  padding: 14px 25px;
  border-radius: 5px;
  display: inline-block;
}
.btn a {
  text-decoration: none;
}
.btn h4 {
  color: #FAFAFA;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

.btn-violet-gradient {
  background: linear-gradient(225deg, #6675F7 0%, #57007B 100%);
}

.btn-yellow-gradient {
  background: linear-gradient(225deg, #FFC656 0%, #F16063 100%);
  border: 1px solid #fff;
}

.btn-primary {
  padding: 16px 28px;
  border-radius: 5px;
  background-color: #3d63ea;
  display: inline-block;
}
.btn-primary a {
  text-decoration: none;
}
.btn-primary h4 {
  color: #FAFAFA;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}
@media (min-width: 768px) {
  .btn-primary {
    padding: 19px 30px;
  }
}

.btn-wrap {
  display: flex;
  align-items: center;
}

.btn-secondary a {
  text-decoration: none;
}
.btn-secondary h4 {
  color: #57007B;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  margin-right: 15px;
}

.btn-gradient-secondary a {
  text-decoration: none;
}
.btn-gradient-secondary h4 {
  background: linear-gradient(225deg, #f76680, #57007B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 12px;
}
@media (max-width: 575.98px) {
  .btn-gradient-secondary h4 {
    font-size: 18px;
  }
}

.sm h4 {
  font-size: 14px;
  line-height: 22px;
  margin-right: 5px;
}
.sm img {
  width: 16px;
  height: 16px;
}

.block-title h2 {
  display: inline-block;
  position: relative;
  padding-top: 20px;
}
.block-title h2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(225deg, #f76680, #57007B);
  width: 55px;
  height: 5px;
}
@media (min-width: 992px) {
  .block-title h2::before {
    width: 69px;
  }
}
.block-title h2 span {
  font-weight: 400;
  display: block;
}
.block-title--alt {
  text-align: left;
}
.block-title--alt h2::before {
  left: 0;
  transform: translateX(0);
}
.block-title--normal h2 {
  padding-top: 0;
}
.block-title--normal h2::before {
  display: none;
}

.block-subtitle__block p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  position: relative;
  background: linear-gradient(225deg, #f76680, #57007B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 18px;
  margin-bottom: 18px;
  max-width: 435px;
}
@media (min-width: 992px) {
  .block-subtitle__block p {
    margin-bottom: 24px;
  }
}
.block-subtitle__block p::before {
  position: absolute;
  content: "";
  left: 0;
  background: linear-gradient(225deg, #f76680, #57007B);
  width: 3px;
  height: 100%;
}
.block-subtitle__member {
  display: flex;
  align-items: center;
}
.block-subtitle__member .media {
  margin-right: 10px;
}
.block-subtitle__member .info p {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
}
.block-subtitle__member .info .position {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: #718096;
  margin-top: 5px;
}

.card-service {
  border: 2px solid transparent;
  border-radius: 7px;
  max-width: 333px;
  padding: 28px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
  cursor: pointer;
}
@media (min-width: 992px) {
  .card-service {
    padding: 38.5px 16px;
  }
}
.card-service:hover {
  border: 2px solid #57007B;
}
.card-service__media {
  display: inline-block;
  width: 58px;
  height: 58px;
  padding: 12px;
  border: 2px solid #57007B;
  border-radius: 100%;
  margin-bottom: 15px;
}
.card-service__info {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.card-service__info h4 {
  background: linear-gradient(225deg, #f76680, #57007B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .card-service__info h4 {
    margin-bottom: 20px;
  }
}
.card-video {
  max-width: 601px;
  position: relative;
  border-radius: 22px;
}
.card-video__playbutton {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .card-video__playbutton {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 992px) {
  .card-video__playbutton {
    width: 65px;
    height: 65px;
  }
}
@media (min-width: 1200px) {
  .card-video__playbutton {
    width: 78px;
    height: 78px;
  }
}
.card-approach {
  max-width: 604px;
  border: 1px solid #E7DAED;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 59px 33px 49px 34px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.68px;
}
@media (max-width: 575.98px) {
  .card-approach {
    padding: 25px;
    flex-direction: column;
  }
}
.card-approach img {
  width: 59px;
  height: 56px;
  background-color: #27272E;
  padding: 12px;
  border-radius: 10px;
  margin-right: 25px;
}
@media (max-width: 575.98px) {
  .card-approach img {
    width: 35px;
    height: 32px;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}
.card-approach h4 {
  margin-bottom: 10px;
}
@media (max-width: 575.98px) {
  .card-approach h4 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }
}
@media (max-width: 575.98px) {
  .card-approach p {
    font-size: 15px;
    line-height: 19px;
  }
}
.card-case-studies {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .card-case-studies {
    flex-direction: row;
  }
}
.card-case-studies__media {
  margin-bottom: -6px;
}
@media (min-width: 768px) {
  .card-case-studies__media {
    margin-bottom: -12px;
  }
}
@media (min-width: 1440px) {
  .card-case-studies__media {
    margin-right: -6px;
    margin-bottom: 0;
  }
}
.card-case-studies__media img {
  width: 100%;
  height: auto;
}
.card-case-studies__info {
  padding: 38px 38px;
  background-color: #F1F2FF;
  border: 1px solid #E7DAED;
  border-top: none;
  border-radius: 0 0px 30px 30px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .card-case-studies__info {
    padding: 52px 52px;
  }
}
@media (min-width: 1440px) {
  .card-case-studies__info {
    padding: 66px 52px;
  }
}
@media (min-width: 1440px) {
  .card-case-studies__info {
    border-left: none;
    border-top: 1px solid #E7DAED;
    border-radius: 0 30px 30px 0;
  }
}
@media (min-width: 1440px) {
  .card-case-studies__info {
    max-width: 634px;
  }
}
.card-case-studies__info p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 22px;
  color: #4A5568;
}
@media (min-width: 1440px) {
  .card-case-studies__info p {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
.card-case-studies__info .cta {
  display: flex;
  justify-content: flex-end;
}
.card-resources {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  max-width: 254px;
  position: relative;
}
.card-resources-img {
  margin-bottom: 20px;
}
@media (max-width: 575.98px) {
  .card-resources-img {
    margin-bottom: 5px;
  }
}
.card-resources h6 {
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 575.98px) {
  .card-resources h6 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
.card-resources-btn {
  position: relative;
  left: 50%;
}
.card-alcaline {
  width: 313px;
  padding: 22px 33px 26px 21px;
  border: 1px solid #E7DAED;
  border-radius: 9px;
}
.card-alcaline h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.card-alcaline h5 span {
  background: linear-gradient(225deg, #f76680, #57007B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-alcaline p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.card-customer {
  text-align: center;
  max-width: 138px;
  transition: all 0.5s;
  cursor: pointer;
}
.card-customer:hover {
  transform: scale(1.2, 1.2);
  max-width: 200px;
}
@media (min-width: 576px) {
  .card-customer:hover {
    transform: scale(1.5, 1.5);
  }
}
.card-customer:hover h4 {
  font-size: 18px;
  font-weight: 700;
  color: #57007B;
}
.card-customer:hover p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}
.card-customer:hover .overlay {
  display: none;
}
.card-customer:hover .pp {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
}
.card-customer__media {
  display: flex;
  justify-content: center;
  border-radius: 100%;
}
.card-customer__media img {
  border-radius: 100%;
  width: 85px;
  height: 85px;
  position: relative;
}
.card-customer__media .overlay {
  border-radius: 100%;
  width: 85px;
  height: 85px;
  background-color: #E7DAED;
  opacity: 60%;
  position: absolute;
}
.card-customer__ratings {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 8px 0;
}
@media (min-width: 576px) {
  .card-customer__ratings {
    margin: 10px 0;
  }
}
.card-customer__name h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #A0AEC0;
}
@media (min-width: 576px) {
  .card-customer__name h4 {
    margin-bottom: 2px;
  }
}
.card-customer__company p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #CBD5E0;
}

.tab-bar {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 576px) {
  .tab-bar {
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .tab-bar {
    max-width: 766px;
  }
}
.tab-bar__tabs {
  padding: 2px 0;
  position: relative;
  margin-right: 30px;
  margin-bottom: 2px;
}
@media (min-width: 576px) {
  .tab-bar__tabs {
    margin-right: 0;
    margin-bottom: 0;
  }
}
.tab-bar__tabs p {
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .tab-bar__tabs p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  .tab-bar__tabs p {
    font-size: 18px;
  }
}
.tab-bar__tabs a {
  text-decoration: none;
  color: inherit;
}
.tab-bar__tabs:hover p {
  background: linear-gradient(225deg, #f76680, #57007B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.tab-bar__tabs:hover::before {
  position: absolute;
  content: "";
  bottom: 0;
  background: linear-gradient(225deg, #f76680, #57007B);
  width: 50%;
  height: 3px;
  border-radius: 3px;
  transform: translateX(50%);
}

.navbar {
  height: 79px;
  padding: 18.5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 25px 10px rgba(26, 32, 44, 0.1);
}
.navbar-links {
  width: 645px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (max-width: 767.98px) {
  .navbar-links {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar-links {
    margin-left: auto;
  }
}
.navbar-links a {
  text-decoration: none;
  font-size: 16px;
  color: #1A202C;
}
.navbar-links a:hover {
  background: linear-gradient(225deg, #f76680, #57007B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
  .navbar .btn {
    display: none;
  }
}
.navbar .menu {
  height: 20px;
  width: 20px;
  display: none;
}
@media (max-width: 767.98px) {
  .navbar .menu {
    display: inline-block;
  }
}

.block-herowrapper {
  margin-top: 69px;
}
@media (max-width: 992px) {
  .block-herowrapper {
    margin-top: 10px;
  }
}
.block-herowrapper__info {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .block-herowrapper__info {
    flex-direction: column-reverse;
  }
}
.block-herowrapper__info h1 {
  font-weight: 400;
  margin-bottom: 28px;
  max-width: 520px;
}
@media (max-width: 992px) {
  .block-herowrapper__info h1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .block-herowrapper__info h1 {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 575.98px) {
  .block-herowrapper__info h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
.block-herowrapper__info p {
  line-height: 36px;
  margin-bottom: 75px;
  max-width: 531px;
}
@media (max-width: 992px) {
  .block-herowrapper__info p {
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .block-herowrapper__info p {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
@media (max-width: 575.98px) {
  .block-herowrapper__info p {
    font-size: 14px;
    line-height: 18px;
  }
}
.block-herowrapper .alt {
  font-weight: 400;
  background: linear-gradient(225deg, #f76680, #57007B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block-herowrapper .bld {
  font-weight: 700;
}
@media (max-width: 992px) {
  .block-herowrapper img {
    width: 514px;
    height: 446px;
  }
}
@media (max-width: 767.98px) {
  .block-herowrapper img {
    width: 414px;
    height: 346px;
  }
}
@media (max-width: 575.98px) {
  .block-herowrapper img {
    width: 314px;
    height: 246px;
  }
}

/*# sourceMappingURL=styles.css.map */
