.block-title {
    h2 {
        display: inline-block;
        position: relative;
        padding-top: 20px;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: linear-gradient(225deg, $soft-red, $dark-violet);
            width: 55px;
            height: 5px;

            @include lg {
                width: 69px;
            }
        }

        span {
            font-weight: $font-regular;
            display: block;
        }
    }

    &--alt {
        text-align: left;

        h2 {
            &::before {
                left: 0;
                transform: translateX(0);
            }
        }
    }

    &--normal {
        h2 {
            padding-top: 0;

            &::before {
                display: none;
            }
        }
    }
}

.block-subtitle {
    &__block {
        p {
            font-size: 16px;
            line-height: 30px;
            font-weight: $font-normal;
            position: relative;
            @include primary-text-gradient;
            padding-left: 18px;
            margin-bottom: 18px;
            max-width: 435px;

            @include lg {
                margin-bottom: 24px;
            }

            &::before {
                position: absolute;
                content: '';
                left: 0;
                background: linear-gradient(225deg, $soft-red, $dark-violet);
                width: 3px;
                height: 100%;
            }
        }
    }

    &__member {
        display: flex;
        align-items: center;

        .media {
            margin-right: 10px;
        }

        .info {
            p {
                font-size: 16px;
                line-height: normal;
                font-weight: $font-regular;
            }

            .position {
                font-size: 13px;
                font-weight: $font-regular;
                line-height: normal;
                color: $gray-600;
                margin-top: 5px;
            }
        }
    }
}