.card {
    &-service {
        border: 2px solid transparent;
        border-radius: 7px;
        max-width: 333px;
        padding: 28px 16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        cursor: pointer;

        @include lg {
            padding: 38.5px 16px;
        }

        &:hover {
            border: 2px solid $primary;
        }

        &__media {
            display: inline-block;
            width: 58px;
            height: 58px;
            padding: 12px;
            border: 2px solid $primary;
            border-radius: 100%;
            margin-bottom: 15px;
        }

        &__info {
            font-size: 14px;
            line-height: 22px;
            font-weight: $font-regular;

            h4 {
                @include primary-text-gradient;
                margin-bottom: 10px;

                @include lg {
                    margin-bottom: 20px;
                }
            }
        }

    }

    &-video {
        max-width: 601px;
        min-height: 460px;
        position: relative;

        @include smDown {
            max-width: 416px;
            min-height: 316px;
            position: relative;
        }

        @include xsDown {
            max-width: 288px;
            min-height: 219px;
            position: relative;
        }

        &-playbutton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include smDown {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @include xsDown {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}