.card {
    &-service {
        border: 2px solid transparent;
        background-color: $white;
        border-radius: 7px;
        max-width: 333px;
        padding: 28px 16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        cursor: pointer;

        @include lg {
            padding: 38.5px 16px;
        }

        &:hover {
            background: linear-gradient($white, $white) padding-box,
                linear-gradient(225deg, $soft-red, $dark-violet) border-box;
            border-radius: 7px;
            border: 2px solid transparent;
            transform: translateY(10%);
        }

        &__media {
            display: inline-block;
            width: 58px;
            height: 58px;
            padding: 12px;
            border: 2px solid $primary;
            border-radius: 100%;
            margin-bottom: 15px;
        }

        &__info {
            font-size: 14px;
            line-height: 22px;
            font-weight: $font-regular;

            h4 {
                @include primary-text-gradient;
                margin-bottom: 10px;

                @include lg {
                    margin-bottom: 20px;
                }
            }
        }

    }

    &-video {
        max-width: 601px;
        position: relative;
        border-radius: 22px;

        &__playbutton {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include md {
                width: 60px;
                height: 60px;
            }

            @include lg {
                width: 65px;
                height: 65px;
            }

            @include xl {
                width: 78px;
                height: 78px;
            }
        }
    }

    &-approach {
        max-width: 604px;
        border: 1px solid #E7DAED;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 59px 33px 49px 34px;
        font-size: 14px;
        font-weight: $font-regular;
        line-height: 22.68px;
        background-color: $white;

        @include xsDown {
            padding: 25px;
            flex-direction: column;
        }


        img {
            width: 59px;
            height: 56px;
            background-color: #27272E;
            padding: 12px;
            border-radius: 10px;
            margin-right: 25px;

            @include xsDown {
                width: 35px;
                height: 32px;
                padding: 7px;
                border-radius: 5px;
                margin-bottom: 18px;
            }
        }

        h4 {
            margin-bottom: 10px;

            @include xsDown {
                font-size: 18px;
                line-height: 20px;
                font-weight: $font-bold;
                margin-bottom: 5px;
            }
        }

        p {
            @include xsDown {
                font-size: 15px;
                line-height: 19px;
            }
        }
    }

    &-case-studies {
        display: flex;
        flex-direction: column;

        @include xxl {
            flex-direction: row;
        }

        &__media {
            margin-bottom: -6px;

            @include md {
                margin-bottom: -12px;

            }

            @include xxl {
                margin-right: -6px;
                margin-bottom: 0;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__info {
            padding: 38px 38px;
            background-color: $pale-blue;
            border: 1px solid $gray-violet;
            border-top: none;
            border-radius: 0 0px 30px 30px;
            max-width: 100%;

            @include md {
                padding: 52px 52px;
            }

            @include xxl {
                padding: 66px 52px;
            }

            @include xxl {
                border-left: none;
                border-top: 1px solid $gray-violet;
                border-radius: 0 30px 30px 0;
            }

            @include xxl {
                max-width: 634px;
            }

            p {
                margin-top: 20px;
                margin-bottom: 30px;
                font-size: 14px;
                line-height: 22px;
                color: $gray-700;

                @include xxl {
                    margin-top: 30px;
                    margin-bottom: 60px;
                }
            }

            .cta {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &-resources {
        font-size: 16px;
        line-height: 25px;
        font-weight: $font-medium;
        max-width: 254px;
        position: relative;

        &-img {
            margin-bottom: 20px;

            @include xsDown {
                margin-bottom: 5px;
            }
        }

        h6 {
            font-weight: $font-semi-bold;
            margin-bottom: 20px;

            @include xsDown {
                font-size: 15px;
                font-weight: $font-semi-bold;
                margin-bottom: 5px;
            }

        }

        &-btn {
            position: relative;
            left: 50%;
        }

    }

    &-alcaline {
        width: 313px;
        padding: 22px 33px 26px 21px;
        border: 1px solid #E7DAED;
        border-radius: 9px;

        h5 {
            font-size: 18px;
            font-weight: $font-bold;
            margin-bottom: 15px;

            span {
                @include primary-text-gradient;
            }
        }

        p {
            font-size: 14px;
            line-height: 20px;
            font-weight: $font-regular;
        }
    }

    &-customer {
        text-align: center;
        max-width: 138px;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
            transform: scale(1, 1);
            max-width: 200px;

            @include sm {
                transform: scale(1.1, 1.1);
            }

            h4 {
                font-size: $font-base-size;
                font-weight: $font-bold;
                color: $primary;
            }

            p {
                font-size: 14px;
                line-height: 22px;
                color: #000;
            }

            .overlay {
                display: none;
            }

            .pp {
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
            }
        }

        &__media {

            display: flex;
            justify-content: center;
            border-radius: 100%;

            img {
                border-radius: 100%;
                width: 85px;
                height: 85px;
                position: relative;
            }

            .overlay {
                border-radius: 100%;
                width: 85px;
                height: 85px;
                background-color: #E7DAED;
                opacity: 60%;
                position: absolute;
            }


        }

        &__ratings {
            display: flex;
            gap: 5px;
            justify-content: center;
            margin: 8px 0;

            @include sm {
                margin: 10px 0;
            }
        }

        &__name {
            h4 {
                font-size: 16px;
                font-weight: $font-medium;
                line-height: 25px;
                color: $gray-500;

                @include sm {
                    margin-bottom: 2px;
                }

            }
        }

        &__company {
            p {
                font-size: 12px;
                font-weight: $font-regular;
                line-height: 20px;
                color: $gray-400;
            }
        }
    }
}