.card {
    &-service {
        border: 2px solid transparent;
        border-radius: 7px;
        max-width: 333px;
        padding: 28px 16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s;
        cursor: pointer;

        @include lg {
            padding: 38.5px 16px;
        }

        &:hover {
            border: 2px solid $primary;
        }

        &__media {
            display: inline-block;
            width: 58px;
            height: 58px;
            padding: 12px;
            border: 2px solid $primary;
            border-radius: 100%;
            margin-bottom: 15px;
        }

        &__info {
            font-size: 14px;
            line-height: 22px;
            font-weight: $font-regular;

            h4 {
                @include primary-text-gradient;
                margin-bottom: 10px;

                @include lg {
                    margin-bottom: 20px;
                }
            }
        }

    }

    &-video {
        max-width: 601px;
        min-height: 460px;
        position: relative;

        @include smDown {
            max-width: 416px;
            min-height: 316px;
            position: relative;
        }

        @include xsDown {
            max-width: 288px;
            min-height: 219px;
            position: relative;
        }

        &-playbutton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include smDown {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @include xsDown {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &-approach {
        max-width: 604px;
        border: 1px solid #E7DAED;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 59px 33px 49px 34px;
        font-size: 14px;
        font-weight: $font-regular;
        line-height: 22.68px;


        @include xsDown {
            padding: 25px;
            flex-direction: column;
        }


        img {
            width: 59px;
            height: 56px;
            background-color: #27272E;
            padding: 12px;
            border-radius: 10px;
            margin-right: 25px;

            @include xsDown {
                width: 35px;
                height: 32px;
                padding: 7px;
                border-radius: 5px;
                margin-bottom: 10px;
            }
        }

        h4 {
            margin-bottom: 10px;

            @include xsDown {
                font-size: 18px;
                line-height: 20px;
                font-weight: $font-bold;
                margin-bottom: 5px;
            }
        }

        p {
            @include xsDown {
                font-size: 15px;
                line-height: 19px;
            }
        }
    }

    &-case-studies {
        display: flex;
        flex-direction: column;

        @include xxl {
            flex-direction: row;
        }

        &__media {
            margin-bottom: -6px;

            @include md {
                margin-bottom: -12px;

            }

            @include xxl {
                margin-right: -6px;
                margin-bottom: 0;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__info {
            padding: 38px 38px;
            background-color: $pale-blue;
            border: 1px solid $gray-violet;
            border-top: none;
            border-radius: 0 0px 30px 30px;
            max-width: 100%;

            @include md {
                padding: 52px 52px;
            }

            @include xxl {
                padding: 66px 52px;
            }

            @include xxl {
                border-left: none;
                border-top: 1px solid $gray-violet;
                border-radius: 0 30px 30px 0;
            }

            @include xxl {
                max-width: 634px;
            }

            p {
                margin-top: 20px;
                margin-bottom: 30px;
                font-size: 14px;
                line-height: 22px;
                color: $gray-700;

                @include xxl {
                    margin-top: 30px;
                    margin-bottom: 60px;
                }
            }

            .cta {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}