.tab-bar {
    display: flex;
    justify-content: space-between;
    max-width: 766px;
    
    &__tabs {
        padding: 2px 0;
        position: relative;

        a {
            text-decoration: none;
            color: inherit;
        }

        &:hover {
            p {
                @include primary-text-gradient;
                font-size: $font-base-size;
                font-weight: $font-medium;
            }

            &::before {
                position: absolute;
                content: '';
                bottom: 0;
                background: linear-gradient(225deg, $soft-red, $dark-violet);
                width: 50%;
                height: 3px;
                border-radius: 3px;
                transform: translateX(50%);
            }
        }
    }
}