.tab-bar {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include sm {
        justify-content: space-between;
    }

    @include md {
        max-width: 766px;
    }

    &__tabs {
        padding: 2px 0;
        position: relative;
        margin-right: 30px;
        margin-bottom: 2px;

        @include sm {
            margin-right: 0;
            margin-bottom: 0;
        }

        p {
            font-size: 14px;
            line-height: 20px;
        }

        @include md {
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }

        @include lg {
            p {
                font-size: $font-base-size;
            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        &:hover {
            p {
                @include primary-text-gradient;
                font-weight: $font-medium;
            }

            &::before {
                position: absolute;
                content: '';
                bottom: 0;
                background: linear-gradient(225deg, $soft-red, $dark-violet);
                width: 50%;
                height: 3px;
                border-radius: 3px;
                transform: translateX(50%);
            }

        }

    }
}