.block {
    &-herowrapper {
        margin-top: 69px;
        border-bottom: 1px solid #E7DAED;
        position: relative;

        @include lgDown {
            margin-top: 10px;
            position: relative;
        }

        &__info {
            display: flex;
            align-items: center;
            margin-bottom: 71px;

            @include lgDown {
                flex-direction: column-reverse;
                margin-bottom: 35px;
            }

            h1 {
                font-weight: $font-regular;
                margin-bottom: 28px;
                max-width: 520px;

                @include lgDown {
                    margin-bottom: 20px;
                }

                @include smDown {
                    font-size: 30px;
                    line-height: 38px;
                }

                @include xsDown {
                    font-size: 24px;
                    line-height: 28px;
                }
            }

            p {
                line-height: 36px;
                margin-bottom: 75px;
                max-width: 531px;

                @include lgDown {
                    margin-bottom: 25px;
                }

                @include smDown {
                    font-size: 18px;
                    margin-bottom: 16px;
                }

                @include xsDown {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        .alt {
            font-weight: $font-regular;
            @include primary-text-gradient;
        }

        .bld {
            font-weight: $font-bold;
        }

        img {
            @include lgDown {
                width: 514px;
                height: 446px;
            }

            @include smDown {
                width: 414px;
                height: 346px;
            }

            @include xsDown {
                width: 314px;
                height: 246px;
            }
        }

        .circle {
            position: absolute;
            bottom: 0;
            left: 35%;
            transform: translate(107px, 33px);
            z-index: 1;

            @include lgDown {
                width: 45px;
                height: 45px;
                bottom: 5px;
                position: absolute;
            }


        }
    }

    &-services {
        background-color: #F9F9FF;
        position: relative;
        z-index: 2;
        min-height: 602.34px;

        h2 {
            text-align: center;
            padding-top: 46px;
            margin-bottom: 63px;
        }

        &__cards {
            display: flex;
            flex-wrap: wrap;

            .card-service{
                margin: 20px;
            }
        }
    }

    &-videosection {
        position: relative;
        padding: 185px 0 72px 0;

        .row-1 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include lgDown {
                flex-direction: column-reverse;

                .col-1 {
                    margin-top: 45px;
                }
            }

            p {
                padding: 30px 0 50px 0;
                max-width: 530px;
                color: $gray-600;

                .gradient-text {
                    @include primary-text-gradient;
                }

                @include smDown {
                    padding: 20px 0 35px 0;
                }
            }
        }

        .row-2 {
            padding-top: 150px;
            display: flex;
            justify-content: space-between;
            align-items: last baseline;

            @include lgDown {
                justify-content: space-around;
                padding-top: 80px;
            }

            @include smDown {
                padding-top: 50px;
            }
        }

        .circle {
            bottom: 0;
            left: 35%;
            transform: translate(107px, 33px);
            z-index: -1;
            position: absolute;

            @include lgDown {
                width: 45px;
                height: 45px;
                bottom: 10px;
                position: absolute;
            }
        }

        .circle-top {
            position: absolute;
            top: 0;
            z-index: -1;
            left: 8%;
            transform: translateY(-50%);

            @include lgDown {
                width: 45px;
                height: 45px;
                top: 10px;
                position: absolute;
            }
        }
    }

    &-clients {
        background-color: #f7f7fa;
        overflow: hidden;
        border-bottom: 1px solid #E7DAED;
        border-top: 1px solid #E7DAED;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px 0;
            // gap: 54px;

            @include lgDown {
                padding: 45px 0;
            }
        }

        img {
            margin: 0 24px;

            @include lgDown {
                margin: 0 16px;
            }
        }
    }

    &-testimonial {
        padding: 125px 0 140px 0;
        position: relative;

        @include lgDown {
            padding: 90px 0;
        }

        .row-1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include xsDown{
                align-items:end;
            }

            .col-2 {
                .review::before {
                    content: url(/assets/images/fluent_comma-left.png);
                    position: absolute;
                    top: -10px;
                    left: 130px;

                    @include lgDown {
                        left: -30px;
                    }

                    @include smDown {
                        left: -30px;
                    }
                }
            }

            .review::after {
                content: url(/assets/images/fluent_comma-right.png);
                position: absolute;
                bottom: -10px;
                right: 130px;

                @include lgDown {
                    right: -30px;
                }
            }
        }

        .review {
            position: relative;

            p {
                max-width: 535px;
                text-align: center;
                margin: 64px auto;
                color: $gray-600;
            }
        }

        .col-2 {
            .Customers {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 72px;


                @include lgDown {
                    gap: 45px;

                    @include mdDown {
                        .hide-content {
                            display: none;
                        }
                    }
                 
                }
            }
        }
        @include xsDown{
            .hide-content-small{
                display: none;
            }
        }
    }

    &-casestudies {
        background-color: #f7f7fa;
        padding: 88px 0;
        position: relative;
        border-bottom: 1px solid #E7DAED;
        border-top: 1px solid #E7DAED;

        &__cta {
            display: flex;
            justify-content: flex-end;
            margin-top: 40px;
        }

        .block-title {
            margin-bottom: 80px;
        }

        .bg-green {
            background-color: $lime-green;
        }

        .bg-red {
            background-color: $pale-red;
        }

        .bg-green-margin {
            margin: 35px 0;
        }

        .circle {
            position: absolute;
            left: 30%;
            // transform: translate(107px, 33px);
        }

        .deco-up {
            position: absolute;
            top: -120px;
            z-index: 1;
            left: 10%;

            @include lgDown {
                display: none;
            }
        }

        .deco-down {
            position: absolute;
            z-index: 1;
            right: 10%;
            top: -120px;

            @include lgDown {
                display: none;
            }
        }

    }

    &-development {
        padding: 80px 0 90px 0;
        background-color: #F7F7FA;
        border-bottom: 1px solid #E7DAED;
        border-top: 1px solid #E7DAED;
        @include lgDown{
            padding: 70px 0 80px 0;
        }
        &__content {
            margin-top: 80px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            @include lgDown{
                flex-direction: column;
                margin-top: 65px;
            }

            .card-approach {
                flex: 0 0 calc(50% - 10px);
                margin-bottom: 24px;
                box-sizing: border-box;
                @include xlDown{
                    margin-bottom: 20px;
                }
            }
            .left-margin{
                margin-left: 12px;
                @include xlDown{
                    margin-left: 10px;
                }
                @include lgDown{
                    margin-left: 0;
                }
            }
            .right-margin{
                margin-right: 12px;
                @include xlDown{
                    margin-right: 10px;
                }
                @include lgDown{
                    margin-right: 0px;
                }
            }

            .img-2 {
                background-image: linear-gradient(225deg, #68DBF2 0.01%, #509CF5 100%);
            }

            .img-3 {
                background-image: linear-gradient(224deg, #FF92AE 8.18%, #FF3D9A 95.84%);
            }
            .img-4 {
                background-image: linear-gradient(224deg, #67E9F1 0%, #24E795 100%);
            }
            .img-5 {
                background-image: linear-gradient(224deg, #FFEF5E 0%, #F7936F 100%);
            }
            .img-6 {
                background-image: linear-gradient(224deg, #F76680 0%, #57007B 100%);
            }
        }
    }

    &-resources {
        margin-top: 32px;

        @include md {
            margin-top: 64px;
        }

        @include lg {
            margin-top: 96px;
        }

        &__title {
            margin-bottom: 20px;

            @include sm {
                margin-bottom: 40px;
            }

            @include lg {
                margin-bottom: 66px;
            }
        }

        &__cards {
            display: flex;
            overflow: hidden;

            .card-resources {
                margin-right: 20px;

                @include sm {
                    margin-right: 40px;
                }

                @include lg {
                    margin-right: 60px;
                }
            }
        }
    }


    &-hire {
        margin-top: 80px;
        margin-bottom: 60px;

        @include lg {
            margin-top: 150px;
            margin-bottom: 100px;
        }

        &__wrapper {
            @include secondary-gradient;
            border-radius: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            padding: 32px;

            @include md {
                padding: 64px;
            }

            @include lg {
                text-align: left;
                flex-direction: row;
                padding: 88px 84px;
            }

        }

        &__title {
            max-width: 324px;

            @include md {
                max-width: 100%;
            }

            @include lg {
                max-width: 530px;
            }
        }

        &__cta {
            position: relative;

            .deco-h {
                display: inline;
                position: absolute;
                transform: scale(1.4, 1);
                top: -14px;

                @include md {
                    transform: scale(1.5, 1.2);
                }
            }

            @include lg {
                .deco-h {
                    display: none;
                }

                .deco {
                    display: inline;
                    position: absolute;
                    top: -72px;
                    transform: translateX(33%);
                }
            }
        }

    }

    &-building-software {

        h3 {
            margin-bottom: 30px;

            @include xlDown {
                margin-bottom: 15px;
            }
        }

        p {
            margin-bottom: 20px;

            @include xlDown {
                margin-bottom: 10px;
            }

            span {
                @include primary-text-gradient;
            }
        }

        .block-title {
            margin-bottom: 73px;

            @media only screen and (max-width: 1200px) {
                margin-bottom: 33px;
            }
        }


        &__content {
            display: flex;
            align-items: center;
            margin-bottom: 95px;

            @media only screen and (max-width: 1200px) {
                flex-wrap: wrap-reverse;
                justify-content: center;
            }

        &-alt {
            display: flex;
            align-items: center;
            margin-bottom: 95px;

            @media only screen and (max-width: 1200px) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        }

        &__info {
            margin-right: 124px;
            max-width: 534px;

            @media only screen and (max-width: 1200px) {
                flex-shrink: 2;
                margin: 0 auto;
            }


            &-alt {
                margin-left: 124px;
                max-width: 534px;

                @media only screen and (max-width: 1200px) {
                    flex-shrink: 2;
                    margin: 0 auto;
                }

            }
        }


        &__img {
            position: relative;
            width: 575px;

            @media only screen and (max-width: 1200px) {
                flex-shrink: 1;
                margin-bottom: 20px;
            }

            &-alt {
                position: relative;
                width: 575px;
                margin-bottom: 35px;
            }

            &-main {
                position: relative;
                width: 100%;
                z-index: 0;

                &-alt{
                    position: relative;
                    width: 100%;
                    z-index: 0;
                }

                &-alt2{
                    position: relative;
                    width: 100%;
                    z-index: 0;
                }
            }

            &-sphere {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transform: translate(-30%, -30%);

                &-alt{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: translate(100%, 50%);
                    z-index: -1;
                }

                &-alt2{
                    height: 43px;
                    width: 43px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: translate(-40%, 40%);
                    z-index: -1;
                }
            }

            &-sphere2 {
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translate(750%, 50%);
                z-index: -1;

                &-alt{
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    transform: translate(30%, -30%);
                }

                &-alt2{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transform: translate(800%, -50%);
                }
            }
        }
    }
}