.block {
    &-herowrapper {
        margin-top: 69px;
        border-bottom: 1px solid #E7DAED;
        position: relative;

        @include lgDown {
            margin-top: 10px;
            position: relative;
        }

        &__info {
            display: flex;
            align-items: center;
            margin-bottom: 71px;

            @include lgDown {
                flex-direction: column-reverse;
                margin-bottom: 35px;
            }

            h1 {
                font-weight: $font-regular;
                margin-bottom: 28px;
                max-width: 520px;

                @include lgDown {
                    margin-bottom: 20px;
                }

                @include smDown {
                    font-size: 30px;
                    line-height: 38px;
                }

                @include xsDown {
                    font-size: 24px;
                    line-height: 28px;
                }
            }

            p {
                line-height: 36px;
                margin-bottom: 75px;
                max-width: 531px;

                @include lgDown {
                    margin-bottom: 25px;
                }

                @include smDown {
                    font-size: 18px;
                    margin-bottom: 16px;
                }

                @include xsDown {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        .alt {
            font-weight: $font-regular;
            @include primary-text-gradient;
        }

        .bld {
            font-weight: $font-bold;
        }

        img {
            @include lgDown {
                width: 514px;
                height: 446px;
            }

            @include smDown {
                width: 414px;
                height: 346px;
            }

            @include xsDown {
                width: 314px;
                height: 246px;
            }
        }

        .circle {
            position: absolute;
            bottom: 0;
            left: 35%;
            transform: translate(107px, 33px);
            z-index: 1;

            @include lgDown {
                width: 45px;
                height: 45px;
                bottom: 5px;
                position: absolute;
            }


        }
    }

    &-services {
        background-color: #F9F9FF;
        position: relative;
        z-index: 2;

        h2 {
            text-align: center;
            padding-top: 46px;
            margin-bottom: 63px;
        }

        &__cards {
            display: flex;
            justify-content: space-between;
            margin-bottom: 155px;
        }
    }

    &-videosection {
        position: relative;
        padding: 185px 0 72px 0;

        .row-1 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include lgDown {
                flex-direction: column-reverse;

                .col-1 {
                    margin-top: 45px;
                }
            }

            p {
                padding: 30px 0 50px 0;
                max-width: 530px;
                color: $gray-600;

                .gradient-text {
                    @include primary-text-gradient;
                }

                @include smDown {
                    padding: 20px 0 35px 0;
                }
            }
        }

        .row-2 {
            padding-top: 150px;
            display: flex;
            justify-content: space-between;
            align-items: last baseline;

            @include lgDown {
                justify-content: space-around;
                padding-top: 80px;
            }

            @include smDown {
                padding-top: 50px;
            }
        }

        .circle {
            bottom: 0;
            left: 35%;
            transform: translate(107px, 33px);
            z-index: -1;
            position: absolute;

            @include lgDown {
                width: 45px;
                height: 45px;
                bottom: 10px;
                position: absolute;
            }
        }

        .circle-top {
            position: absolute;
            top: 0;
            z-index: -1;
            left: 8%;

            @include lgDown {
                width: 45px;
                height: 45px;
                top: 10px;
                position: absolute;
            }
        }
    }

    &-clients {
        background-color: #f7f7fa;

        .content {
            display: flex;
            justify-content: center;
            padding: 60px 0;

            @include lgDown {
                padding: 45px 0;
            }
        }

        img {
            margin-right: 54px;

            @include lgDown {
                margin-right: 34px;
            }
        }
    }

    &-testimonial {
        padding: 125px 0 140px 0;

        .row-1 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .col-2 {
                .review::before {
                    content: url(/assets/images/fluent_comma-left.png);
                    position: absolute;
                    top: -10px;
                    left: 130px;

                    @include lgDown {
                        left: -30px;
                    }
                    @include smDown{
                        left: -30px;
                    }
                }
                }

                .review::after {
                    content: url(/assets/images/fluent_comma-right.png);
                    position: absolute;
                    bottom: -10px;
                    right: 130px;

                    @include lgDown {
                        right: -30px;
                    }
                }
            }

            .review {
                position: relative;

                p {
                    max-width: 535px;
                    text-align: center;
                    margin: 64px auto;
                    color: $gray-600;

            }
        }

        .col-2 {
            .Customers {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 72px;


                @include lgDown {
                    gap: 45px;
                    @include mdDown{
                        .hide-content{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
